body {
  font-family: Arial, Helvetica, sans-serif;
  min-width: 1100px;
}

.search-bar {
  width: 600px;
}

.link {
  margin: 0 10px 0 10px;
  color: white;
}

.link:hover {
  color: grey;
  text-decoration: none;
}
