body {
  font-family: Arial, Helvetica, sans-serif;
  min-width: 1100px;
}

.search-bar {
  width: 600px;
}

.link {
  margin: 0 10px 0 10px;
  color: white;
}

.link:hover {
  color: grey;
  text-decoration: none;
}

.clickable {
  transition: 0.5s;
}

.clickable:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.product-link {
  color: black;
}

.product-link:hover {
  color: black;
  text-decoration: none;
}
